  <section class="content" id="about">
      <div class="block-content">
          <h3 class="block-title">Perfil</h3>
          <h3 class="subheading">¡Hola! soy Jaouad oukassi <strong>Desarrollador web FullStack </strong></h3>
          <p>Web Junior con más de 8 años de experiencia. especializada en desarrollo front end y back end. Experimentado con todas las etapas de la ciclo de desarrollo para proyectos web dinámicos. Tener un conocimiento profundo incluyendo HTML5 avanzado, CSS, CSS3, SASS, LESS, JSON, XML, Java, JavaScript, JQuery, Angular JS. Fuertes antecedentes en gestión y liderazgo.</p>
          <div class="info-list row">
              <div class="col-sm-6"><span>Nombre : </span> Jaouad Oukassi</div>
              <div class="col-sm-6"><span>Fecha de Nacimiento : </span> Agosto 01, 1990 </div>
              <div class="col-sm-6"><span>Dirección : </span> C/ DES BEGUES 7 P01.</div>
              <div class="col-sm-6"><span>Email : </span> jaouadoukassi1@gmail.com</div>
              <div class="col-sm-6"><span>Telefono : </span> + 34 632230260</div>
              <div class="col-sm-6"><span>Interes : </span> Freelance, Full-Time</div>
          </div>
      </div>
      <div class="block-content">
          <h3 class="block-title">Profesional</h3>
          <div *ngFor="let elem of cv.profesional">
            <label class="progress-bar-label">{{ elem.Nombre }}</label>
            <div class="progress">
                <div [style.width.%]=elem.Valor class="progress-bar" role="progressbar" attr.aria-valuenow="{{ elem.Valor }}" aria-valuemin="0" aria-valuemax="100">
                    <span>{{ elem.Valor }}%</span>
                </div>
            </div>
        </div>
      </div>
      <div class="block-content">
          <h3 class="block-title">Experiencia</h3>
          <div class="timeline experience">
              <div class="row">
                  <div class="col-md-12">
                      <div class="exp-holder">
                          <div *ngFor="let expex of cv.experiencia">
                            <div class="exp">
                                <div class="hgroup">
                                    <h4><span>{{ expex.Empresa }}</span> </h4>
                                    <h5> {{ expex.FechaInit }} - {{ expex.FechaFin }}</h5>
                                </div><br>
                                <p >{{expex.Descripcion}}</p>
                            </div>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="block-content">
          <h3 class="block-title">Educación</h3>
          <div class="timeline education">
              <div class="row">
                  <div class="col-md-12">
                      <div class="exp-holder">
                        <div *ngFor="let elem of cv.informacion">
                          <div class="exp">
                              <div class="hgroup">
                                  <h4>{{ elem.year }} | <b> {{ elem.Titulo }}</b></h4>
                                  <h5></h5>
                              </div>
                              <!-- <p>{{ edux.Descripcion }}</p> -->
                          </div>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="block-content">
          <h3 class="block-title">Licencias y certificaciones</h3>
          <div class="container text-center">
            <div class="row" *ngFor="let elem of cv.licencias">
              <div class="col-6 col-sm-6"><b>{{elem.Titulo}}</b></div>
              <div class="col-6 col-sm-3">{{elem.Expedicion}}</div>
              <div class="col-6 col-sm-3"><a href="{{elem.Link}}">Ver El Certificado</a></div><br>
            </div>
          </div>
        </div>


      <div class="row text-center">
          <div class="col-md-12 btn-email">
              <a class="btn lowercase">jaouadoukassi1@gmail.com</a>
          </div>
      </div>
  </section>
